<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/Social.css">
</head>

<body>
    <header class="Navbar">
        <!-- NAV1 -->
        <div>
            <nav>
                <section>
                    <p><ion-icon name="calendar" id="calendar"></ion-icon></p>
                    <p>Samedi,<br> <span style="font-weight: bold;">17 - 08 - 2024</span></p>
                </section>
                <section>
                    <article>
                        <a href="../Components/About.html"><p>Apropos</p></a>
                    </article>
                    |
                    <article>
                        <a href="../Components/Mot_Questeur.html"><p>Mot du questeur</p></a>
                    </article>
                    |
                    <article>
                        <a href="../Components/Mini_Biographie.html"><p>Mini biographie</p></a>
                    </article>
                </section>
                <section>
                    <button>Contactez-nous</button>
                </section>
            </nav>
        </div>
        <!-- NAV2 -->
        <div>
            <nav>
                <section>
                    <article>
                        <picture>
                            <img src="../tools/images/logo.jpg" alt="logo" id="logo">
                        </picture>
                    </article>
                    <article>
                        <h2 id="Title">COSEF</h2>
                    </article>
                </section>
                <section>
                    <article>
                        <a href="../index.html">
                            <p>Actualite</p>
                        </a>
                    </article>
                    <article>
                        <a href="../Components/AlaUne.html">
                            <p>A la une</p>
                        </a>
                    </article>
                    <article>
                        <a href="../Components/Page_Politique.html">
                            <p>Politique</p>
                        </a>
                    </article>
                    <article>
                        <a href="../Components/Page_Sport.html">
                            <p>Sport</p>
                        </a>
                    </article>
                    <article>
                        <a href="../Components/Page_Social.html">
                            <p>Social</p>
                        </a>
                    </article>
                    <article>
                        <a href="../Components/Page_Culturel.html">
                            <p>Culturel</p>
                        </a>
                    </article>
                </section>
                <section>
                    <article class="Article-search">
                        <a href="../search.html"><ion-icon name="search" id="search-logo"></ion-icon></a>
                    </article>
                    <article>
                        <p id="profile"><ion-icon name="contact" id="logo-profile"></ion-icon></p>
                        <p id="close"><ion-icon name="close-circle" id="logo-close"></ion-icon></p>
                    </article>
                    <!--POPUP -->
                    <div class="Pop-Log">
                        <a href="../Components/Login.html">
                            <section>
                                <article><ion-icon name="log-in" id="logo-login"></ion-icon></article>
                                <article>Se Connecter</article>
                            </section>
                        </a>
                    </div>
                </section>
            </nav>
        </div>
    </header>
     <!-- body -->
     <figure class="Breadcrumb">
        <div>
            <p>actualités &nbsp;<strong>social</strong></p>
        </div>
    </figure>
    <main class="Main-body">
        <section class="Article-Photo">
            <!-- POLITIQUE -->
            <div id="newsContainer">
            </div>
            <!-- SOCIAL -->
        </section>
        <section class="Article-Video">
            <div id="newsVideo"></div>
        </section>
    </main>
    <!-- PUBLICITE -->
    <figure class="Publicite">
        <marquee behavior="" direction="left">
            <div>
                <p>logo- cosef - FERNAND - N*3 - MANASA ANAO HIFIDY AN'ANDRIAMATOA EDDIE FERNAND</p>
            </div>
        </marquee>
    </figure>
    <!-- body -->
    <!-- <figure class="Breadcrumb">
        <div>
            <p>Actualite <strong>a la une</strong></p>
        </div>
    </figure>
    <main class="AlaUne-body">
        <section class="AlaUne-Photo"> -->
            <!-- POLITIQUE -->
            <!-- <div id="newsContainer">
            </div> -->
            <!-- SOCIAL -->
        <!-- </section>
        <section class="AlaUne-Video">
            <div id="newsVideo"></div>
        </section>
    </main> -->
    <!-- PUBLICITE -->

    <!-- FOOTER -->
    <footer>
        <div>
            <section>
                <p>Cosef.com</p>
            </section>
            <section>
                <p>contact</p>
                <p>centre d'aide</p>
                <p>A propos de nous</p>
                <p>Nos coordonnees</p>
            </section>
            <section>
                <p>Services</p>
                <p>Lorem, ipsum.</p>
                <p></p>
                <p></p>
            </section>
            <section>
                <p>Archive</p>
                <p></p>
                <p></p>
                <p></p>
            </section>
            <section>
                <p>Suivez-nous</p>
                <article>
                    <p><ion-icon name="logo-linkedin"></ion-icon></p>
                    <p><ion-icon name="logo-facebook"></ion-icon></p>
                    <p><ion-icon name="logo-instagram"></ion-icon></p>
                    <p><ion-icon name="logo-twitter"></ion-icon></p>
                </article>
            </section>
        </div>
        <div>
            <article>
                <p>&copy;Copyright_2023_COSEF</p>
            </article>
            <article>
                <p>Conditions d'utilisation</p>
                <p>Politique de confidentialité</p>
            </article>
        </div>
    </footer>


    <script src="../Context/AlaUne.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <!-- Exemple d'intégration de Google AdSense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-xxxxxxxxxxxxxxxx" data-ad-slot="1234567890"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
<!-- <script src="../Context/script.js"></script> -->

<!-- <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script> -->
</body>

</html>