<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="../Styles/Styles.css">
    <link rel="stylesheet" href="../Styles/Forgot_Mdp.css">
</head>

<body>
    <header class="Navbar">
        <!-- NAV1 -->
        <div>
            <nav>
                <section>
                    <article>
                        <a href="https://www.facebook.com/profile.php?id=100082365563440" target="_blank"><ion-icon
                                name="logo-facebook" id="logo-facebook"></ion-icon></a>
                    </article>
                    <article>
                        <ion-icon name="logo-twitter" id="logo-twitter"></ion-icon>
                    </article>
                    <article>
                        <ion-icon name="logo-whatsapp" id="logo-whatsapp"></ion-icon>
                    </article>
                </section>
                <section>
                    <article>
                        <p>Apropos</p>
                    </article>
                    |
                    <article>
                        <p>Parole du monsieur</p>
                    </article>
                </section>
                <section>
                    <button>Contactez-nous</button>
                </section>
            </nav>
        </div>
        <div>
            <nav>
                <section>
                    <article>
                        <picture>
                            <ion-icon name="planet" id="logo-planete"></ion-icon>
                        </picture>
                    </article>
                    <article>COSEF</article>
                </section>
                <section>
                    <a href="../index.html">
                        <article>
                            <p>Actualite</p>
                    </a>
                    </article>
                    <a href="../index.html">
                        <article>
                            <p>A la une</p>
                        </article>
                    </a>
                    <a href="../index.html">
                        <article>
                            <p>Politique</p>
                        </article>
                    </a>
                    <a href="../index.html">
                        <article>
                            <p>Sport</p>
                        </article>
                    </a>
                    <a href="../index.html">
                        <article>
                            <p>Social</p>
                        </article>
                    </a>
                    <a href="../index.html">
                        <article>
                            <p>Culturel</p>
                        </article>
                    </a>
                </section>
                <section>
                    <artcicle class="Article-search">
                        <span><ion-icon name="search" id="logo-search"></ion-icon></span>
                        <span><input type="search" name="search" id="Search" placeholder="Search..."></span>
                    </artcicle>
                    <artcicle>
                        <p id="profile"><ion-icon name="contact" id="logo-profile"></ion-icon></p>
                        <p id="close"><ion-icon name="close-circle" id="logo-close"></ion-icon></p>
                    </artcicle>
                    <!--POPUP -->
                    <div class="Pop-Log">
                        <a href="../../Site-PressNews/Components/Login.html">
                            <section>
                                <article><ion-icon name="log-in" id="logo-login"></ion-icon></article>
                                <article>Se Connecter</article>
                            </section>
                        </a>
                    </div>
                </section>
            </nav>
        </div>
    </header>

    <main class="main-forgot">
        <div>
            <form action="">
                <article>
                    <p>Reset password</p>
                    <p>Lorem ipsum dolor sit amet.</p>
                </article>
                <article>
                    <span>
                        <ion-icon name="lock" id="person"></ion-icon>
                        <input type="password" placeholder="New password">
                    </span>
                </article>
                <article>
                    <span>
                        <ion-icon name="lock" id="person"></ion-icon>
                        <input type="text" placeholder="Nom d'utilisateur ou Email">
                    </span>
                </article>
                <article>
                    <input type="submit" value="Reset password">
                </article>
            </form>
        </div>
    </main>
    <script src="../Context/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
</body>

</html>