<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Title</title>
  <link rel="stylesheet" href="../Styles/Styles.css"> <!-- Link to your CSS styles if needed -->
</head>
<body>

<nav>
  <a href="../Components/Sociale.html">Home</a>
  <a href="../Components/Culturel.html">About</a>
  <a href="../Components/Politique.html">Services</a>
  <!-- Add more navigation links as needed -->
</nav>

<div id="detailContainer">

</div>

<!-- Your page content goes here -->

<script src="../Context/script.js"></script> <!-- Include the common JavaScript file -->
</body>
</html>
