/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root{
    --bg-color1: linear-gradient(90deg, rgb(255, 98, 0),orangered);
    --bg-color2: linear-gradient(to top, rgb(23, 37, 157), #13138a);
    --color1: rgb(255, 99, 43);
    --color2: #0000c4;
}
a{
    text-decoration: none;
}
body{
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    overflow-x: hidden;
    background: #f9f9f9;
}

.Navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.Navbar div nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1em;
}
.Navbar div nav section{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}
.Navbar div:nth-child(1) nav{
    padding: 0.8em;
    background: #fff;
    height: 10vh;
    display: none;
}
.Navbar div:nth-child(1) nav section{
  font-size: 0.9em;
  cursor: default;
  transition: 0.2s;
}
.Navbar div:nth-child(1) nav section:nth-child(1){
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    font-size: 0.9em;
  }
  #calendar{
    font-size: 2.2em;
    color: #3b3a3a;
  }
  .Navbar div:nth-child(1) nav section:nth-child(2){
    margin-top: 0.6em;
  }
  .Navbar div:nth-child(1) nav section:nth-child(2) article p{
    cursor: pointer;
  }
  .Navbar div:nth-child(1) nav section:nth-child(2) article p:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
    cursor: pointer;
  }
.Navbar div:nth-child(2) nav{
    background: var(--bg-color2);
    color: #fff;
    outline: 1px solid #f8f8f8;
    height: 9.5vh;
}
.Navbar div:nth-child(2) nav section:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 3.7em;
    margin-top: 0.1em;
}
#logo{
    width: 2.5em;
    height: auto;
    outline: 2PX solid #fff;
    border-radius: 1.5px;
    object-fit: cover;
    margin-top: -0.4em;
    margin-left: 0.5em;
}
#Title{
    font-size: 1.2em;
    color: #fff;
    margin-left: -0.5em;
}
.Navbar div:nth-child(2) nav section:nth-child(2) article p{
    font-weight: 600;
    transition: 0.3s;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.8px;
}
.Navbar div:nth-child(2) nav section:nth-child(2) article:nth-child(0) p{
    font-weight: 700;
    transition: 0.3s;
    color: var(--color1);
}
.Navbar div:nth-child(2) nav section:nth-child(2) article:nth-child(0) p::after{
    content: "";
    position: absolute;
    width: 5%;
    height: 0.5vh;
    border-radius: 3em;
    background: var(--color1);
    z-index: 999;
    margin-left: -5em;
    margin-top: 1.7em;
    animation: animate 0.5s normal forwards;
}
@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 4.1%;
    }
}
.Navbar div:nth-child(2) nav section:nth-child(2) article p:hover{
    cursor: pointer;
}
.Navbar div:nth-child(2) nav section:nth-child(3){
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: -0.3em;
}
.Navbar div:nth-child(2) nav section:nth-child(3) .Article-search span input{
    border: none;
    background: rgb(244, 244, 244);
    padding: 0.8em;
    padding-left: 2.7em;
    border-radius: 2em;
    outline: 1px solid rgb(215, 215, 215);
}
.Navbar div:nth-child(2) nav section:nth-child(3) .Article-search span input:focus{
    border: rgb(215, 215, 215);
    outline: rgb(215, 215, 215);
}
button{
    border: none;
    padding: 0.8em;
    background: var(--bg-color1);
    outline: 2px solid #cd3700;
    border-radius: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
#logo-profile,#logo-close{
    font-size: 1.9em;
    border-radius: 50%;
    padding: 3px;
    background: #3b3a3a;
    margin-right: 0.3em;
    cursor: pointer;
}
#logo-profile:hover{
    background: #3b3a3a;
}
#search-logo{
    font-size: 1.8em;
    border-radius: 50%;
    padding: 3.5px;
    background: #3b3a3a;
    color: #fff;
}
#search-logo:hover{
    background: #3b3a3a;
}
#logo-login{
    font-size: 1.5em;
}
#close{
    display: none;
}
.Pop-Log{
    display: none;
    position: absolute;
    margin-top: 3em;
}
.Pop-Log section{
    background: rgb(215, 215, 215);
    padding: 0.7em;
    padding-right: 1.3em;
    margin-left: -4em;
    border-radius: 0.2em;
    cursor: pointer;
}
.Pop-Log section:hover{
    outline: 2px solid rgb(58, 58, 58);
}
.Pop-Log section article:nth-child(2){
    margin-left: -0.8em;
}
.main-log{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em;
}
.main-log div:nth-child(1){
    display: none;
    
}
.main-log div:nth-child(2){
    padding: 4em;
    background: #fff;
    outline: 4px solid #cd3700;
    margin-top: 2.5em;
    margin-right: 0;
    border-radius: 3px;
}
.main-log div:nth-child(2) form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2em;
}
.main-log div:nth-child(2) form article:nth-child(1) p:nth-child(1){
    font-size: 2em;
    font-weight: bold;
    margin-top: -1em;
    text-transform: uppercase;
    font-family: 'poppins',sans-serif;
    margin-bottom: 0.2em;
}
.main-log div:nth-child(2) article span{
    padding: 0.8em;
    width: 75%;
    background: transparent;
    outline: 1px solid rgb(158, 158, 158);
    border-radius: 2em;
    padding-bottom: 1em;
}
#person,#password{
   font-size: 1.5em;
   margin-bottom: -0.2em;
   color: #cd3700;
}
#remember{
    margin-left: 2em;
}
.main-log div:nth-child(2) article span input{
    padding: 0.5em;
    width: 75%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 2em;
    margin-top: -0.2em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.9em;
    border-left: 1px solid rgb(227, 227, 227);
}

.main-log div:nth-child(2) article:nth-child(4){
    display: flex;
    flex-direction: row;
    gap: 5em;
}
.main-log div:nth-child(2) article:nth-child(5){
   
}
.main-log div:nth-child(2) article:nth-child(5) input{
    padding: 1em;
    width: 89.5%;
    background: var(--bg-color1);
    outline: 1px solid rgb(112, 112, 112);
    border-radius: 2em;
    padding-bottom: 1em;
    font-size: 0.9em;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}